.AppSidebar {
  height: calc(100vh - var(--header-height));
  background: var(--inverted-bg-color);
  border-right: 1px solid #414144;
}

.sidebarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 8px 20px;
  color: var(--secondary-color);
  border-bottom: 1px solid #414144;
}

.menuIcon {
  padding: 5px;
  cursor: pointer;
}