.ListItem {
  color: var(--primary-color);
}

.ListItem {
  height: 44px;
  color: var(--secondary-color);
  letter-spacing: 0.1px;
  display: grid;
  grid-template-columns: 0.8fr 3.2fr 1fr 1fr 1fr 1fr;
}

.item {
  color: var(--primary-color);
  height: 44px;
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 10px;
}